body {
    background-color: #0d3553;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* IMAGE SECTION */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    margin-top: 40px;
    flex-wrap: nowrap;
}

.logo-item {
    width: 65%;
    height: 400px;
    background-color: #042a47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


/* =========================
   FRANCHISE SECTION
=========================*/

.franchise-title, .inquire-title {
    margin-top: 40px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.underline {
    width: 120px;
    height: 2px;
    background-color: #ffffff;
    margin: 20px auto;
}

/* Circular Boxes */
.circle-box {
    width: 350px;
    height: 350px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    margin: 0 auto;
}

/* IMAGE FIX (Perfect Fit in Circle) */
.circle-box img {
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

/* Brand Text */
.brand-name {
    font-size: 30px;
    font-weight: 600;
}

.brand-desc {
    font-size: 20px;
    opacity: 0.9;
}



/* RESPONSIVE FIXES */
@media (max-width: 1200px) {
    .image {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .logo-item {
        width: 95%;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .logo-item {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .logo-item {
        height: 200px;
    }
}