html, body {
        height: 100%;
        overflow-x: hidden; /* prevent shifting */
        -webkit-overflow-scrolling: auto !important;
    }
        /* GLOBAL */
        body {
            background-color: #0d3553;
            color: #ffffff;
            font-family: 'Helvitica', sans-serif;
            margin: 0;
            padding: 0;
            transform: none !important; /* Prevents parent transform bug */
        }
/* NAVBAR */
        .navbar {
            background-color: #0d3553;
            padding: 10px 0;
            font-size: 17px;
            padding-top: 20px;
        }

        .navbar-nav .nav-link {
            color: #ffffff !important;
            margin: 0 12px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }

        .dropdown-menu {
            background-color: #ffffff;
        }

        .dropdown-item {
            color: #797979 !important;
        }

        /* SIMPLE TOGGLE */
        .navbar-toggler {
            border: none;
        }
        .navbar-toggler-icon {
            filter: brightness(0) invert(1); /* makes icon white */
        }
        /* ACTIVE NAV-LINK LINE ON TOP */
        .nav-link.active {
            border-top: 2px solid #ffffff;
            padding-top: 7px;
            font-weight: bold;
        }
        .nav-link {
            border-top: 3px solid transparent;
            transition: 0.2s ease-in-out;
        }