html, body {
    overflow-x: hidden;
}
body {
    background-color: #0d3553;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* =========================
   FRANCHISE SECTION
=========================*/

.franchise-title, .inquire-title {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.underline {
    width: 120px;
    height: 2px;
    background-color: #ffffff;
    margin: 20px auto;
}

.keys {
    width:40%;
    margin: 20px auto;
    padding: 20px 10px;
    text-align: left;
}
.keys h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.keys ul li {
    font-weight: bold;
    font-size: 18px;
    color: #bebebe;
}


/* ✅ Tablets */
@media (max-width: 768px) {
    .keys {
        width: 70%;
        padding: 18px;
    }

    .keys ul li {
        font-size: 18px;
        margin-bottom: 35px;
    }
}

/* ✅ Mobile phones */
@media (max-width: 576px) {
    .keys {
        width: 90%;
        padding: 15px;
    }

    .keys ul li {
        font-size: 17px;
        margin-bottom: 28px;
        line-height: 1.5;
    }
}